@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    width: 100%;
    background-color:rgb(102, 98, 98);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.logo{
float: right;
font-weight: bold;
font-size: 30px;
}
.logo span{
    color: rgb(23, 23, 211);
}

.navBar{
    float: left;
}
.navBar li{
    display: inline-block;
}

.navBar ul li{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    color: whitesmoke;
}

.navBar a:hover{
    color: rgb(23, 23, 211);
}
main {
    margin: 5px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(grey 55% , blue);
}
article{
    background-color: whitesmoke;
    border: 2px solid rgb(23, 23, 211);
    height: 328px;
}
.home{
    height: 100vh;
    height: 100%;
    background-image: url(../img/alarmas_residencias.jpg);
    background-size: cover;
    background-position: center;
}
.call{
    color: whitesmoke;
    margin-top: 70px;
    width: 55%;
    float: right;
    background-color:rgba(102, 98, 98, 0.719) ;
    border: 2px groove rgb(23, 23, 211);
    padding: 20px;
    margin: 20px;
}
h1{
    color: rgb(23, 23, 211); 
    margin-bottom: 15px;
    text-align: center; 
}
.call a{
    background-color: rgb(23, 23, 211);
    color: whitesmoke;
    text-decoration: none;
    margin-left: 44%;
    padding: 8px 10px;
    border: 2px solid black;
    border-radius: 4px;    
}
.call a:hover{
    background-color:black;
    border: 2px solid rgb(23, 23, 211);
}

footer{
    color: rgb(23, 23, 211);
    background-color:rgb(102, 98, 98);
    font-family: 'Fira Sans', sans-serif;
    
}

.empresa{
    font-size: 16px;
    text-align: left;
    width: 35%;
    color: black;
    display: block;
    border: 2px solid rgb(23, 23, 211);
}
.empresa h3{
    text-align: center;
}
.redes{
    font-size: 30px;
    text-align: center;
}
.redes a{
    text-decoration: none;
}
fieldset{
    width: 30%;
    margin-left: 40%;
    padding-top: 60px;
}         
.boton{
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.boton:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
} 